.contact{
    position: absolute;
    z-index:29;
    margin: 2% 35% auto 35%;
}

.contact h3{
    text-transform: uppercase;
    text-align: center;
}

#contactForm{
    height: 410px;
    width: 400px;
    background: #fff;
    border: 1px solid #d6d6d6;
}
fieldset#body{
    border-radius:3px;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    -o-border-radius:3px;
    padding:15px 15px;
    margin:0;
}

#contactForm fieldset{
    margin:15px 0 15px 7px;
    display:block;
    border:0;
    padding:0;
}

#body label{
    color:#000;
    margin:10px 0 0 0;
    display:block;
    float:left;
    font-size:0.8725em;
}

#contactForm #body fieldset label{
    display:block;
    float:none;
    margin:0 0 6px 0;
}

#contactForm input, textarea{
    width:92%;
    border:1px solid #DADADA;
    color: #222;
    background:#FFF;
    padding:6px;
    font-size: 0.8125em;
    font-family: 'Open Sans', sans-serif;
}

#contactForm #send{
    font-family: 'Open Sans', sans-serif;
    width: auto;
    float: left;
    background: #ffcc33;
    color: #333;
    font-size: 0.8725em;
    padding: 8px 20px;
    border: none;
    margin: 0 12px 0 0;
    cursor: pointer;
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
}

#contactForm #send:hover {
    background: #EEBF05;
}

input:focus {
    outline: none;
}

