/********** Login *************/


/* Login Box */
#loginBox {
    position:absolute;
    z-index:29;
    margin: 2% 35% auto 35%;
}
#loginForm:after {
    content: '';
    position: absolute;
    right: 25px;
    top: -10px;
    border-bottom: 10px solid #f0f0f0;
}
/* Login Form */
#loginForm {
    height: 230px;
    width: 400px;
    background: #fff;
    border: 1px solid #d6d6d6;
}
#loginForm fieldset {
    margin:0 0 15px 0;
    display:block;
    border:0;
    padding:0;
}
fieldset#body {
    border-radius:3px;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    -o-border-radius:3px;
    padding:15px 15px;
    margin:0;
}
#loginForm #checkbox {
    width: auto;
    margin:3px 6px 0 0;
    float:left;
    padding:0;
    border:0;
}
#body label {
    color:#000;
    margin:10px 0 0 0;
    display:block;
    float:left;
    font-size:0.8725em;
}
#loginForm #body fieldset label{
    display:block;
    float:none;
    margin:0 0 6px 0;
}
#body label i{
    color:#000;
    font-size:1em;
    font-style:normal;
}
/* Default Input */
#loginForm input {
    width:92%;
    border:1px solid #DADADA;
    color: #222;
    background:#FFF;
    padding:6px;
    font-size: 0.8125em;
    font-family: 'Open Sans', sans-serif;
}
/* Sign In Button */
#loginForm #login {
    font-family: 'Open Sans', sans-serif;
    width: auto;
    float: left;
    background: #ffcc33;
    color: #333;
    font-size: 0.8725em;
    padding: 8px 20px;
    border: none;
    margin: 0 12px 0 0;
    cursor: pointer;
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
}
#loginForm #login:hover {
    background: #EEBF05;
}
/* Forgot your password */
#loginForm span{
    display:block;
    margin: 1px auto 5px 10px;
}
#loginForm span a{
    color:#000;
    font-size:0.85em;
    font-weight:500;
    background: none;
    border: none;
    box-shadow: none;
}
#loginForm span a:hover{
    text-decoration:underline;
}
input:focus {
    outline: none;
}