@charset "utf-8";
/* CSS Document */

.grow, .new_main{
    margin-left: 18%;
    margin-right: 17%;
}


.new_main img, .grow img{
    margin-left:auto;
    margin-right:auto;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}

.grow img, .new_main img{
    height: 220px;
    width: 275px;
}

.grow img:hover {
    width: 325px;
    height: 325px;

}

.new_main img:hover {
      width: 325px;
      height: 300px;
}

.img_top{
    margin-top:0%;
}

.specs{
    width:800px; margin:0 auto;
}

a {text-decoration:none;}

ul
{
    list-style-type: none;
}
