@charset "utf-8";
/* CSS Document */

.top_bar{
	background:#00405d;
	color: #ffffff;
	padding-top: 1px;
	padding-bottom: 3px;
    margin-top: -8px;
}

.top_bar li, .menu_bar li{
	display:inline;
}
.rightside{
    text-align: right;
    margin-right: 21%;
}
.rightside li{
    font-size: 13px;
    padding-left: 20px;
}
.leftside{
    margin-left: 17%;
}

.menu_bar li{
    font-size: 14px;
    padding: 10px 10px 10px 10px;
}
.menu_bar a, .sidebar-module__list a{
    color: #555;
}

.top_bar a{
    color: #ffffff;
}
.top_bar a:hover{
    color: #ffcc33;
}
.menu_bar{
	text-align:center;
    margin-right: 9%;
    margin-top: 2.5%;
}

html, body {
    font-family: 'Open Sans', sans-serif;
    font-size: 100%;
    background: #ffffff;
}
.discount{
    font-family: 'Open Sans', sans-serif;
    width: auto;
    float: left;
    background: #ffcc33;
    color: #333;
    font-size: 0.8725em;
    padding: 7px 20px;
    border: none;
    cursor: pointer;
    margin-top: -0.33%;
}
.discount:hover{
    background-color: white;
}

.top_bar, .menu_bar, .discount{
    text-transform: uppercase;
}
a{
    text-decoration: none;
    background-color: transparent;
}
.home_color:hover, .product_color:hover, .about_color:hover, .contact_color:hover, .new_color:hover{
    color: #ffffff;
    padding: 10px 10px 10px 10px;
    margin-left:auto;
    margin-right:auto;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}
.home_color:hover{
    background:#EF5F21;
}
.product_color:hover{
    background:#589D3E;
}
.about_color:hover{
    background:#00ACED;
}
.contact_color:hover{
    background:#D61F85;
}
.new_color:hover{
    background:#F89F1B;
}

.logo{
    padding-top: 17px;
    margin-left: 20%;
    width: 200px;
    height: 70px;
}

.search{
    margin-top: -54px;
    float:right;
    position: relative;
    background: #f3f4f5;
    border: 1px solid #D8D8D8;
    margin-right: 36.3333%;
    width: 14.33333%;
}
.search form{
    width:100%;
}
.search input[type="text"]{
    font-family: 'Open Sans', sans-serif;
    padding:8px 16px;
    outline: none;
    color: #5a5a5a;
    background: none;
    border: none;
    width:85.33333%;
    line-height: 1.5em;
    position: relative;
    font-size: 0.8725em;
    -webkit-appearance: none;
    text-transform: capitalize;
}
.search input[type="text"]:hover{
    background: #ffffff;
}
.search input[type="submit"]{
    background: url(../images/search.png) no-repeat 0px 1px;
    border: none;
    cursor: pointer;
    width: 24px;
    outline: none;
    position: absolute;
    height: 24px;
    top: 6px;
    right: 5px;
}

.create_btn{
    float: right;
    margin-top: -52px;
    margin-right: 27%;
}

.create_btn a{
    text-transform: capitalize;
    padding: 10px 20px;
    font-size: 0.8725em;
    color: #ffffff;
    background: #ffcc33;
    position: absolute;
}
.create_btn a:hover{
    background: #00405d;
    color:#ffffff;
    text-decoration:none;
}
.create_btn a img{
    vertical-align: top;
    margin-top: 3px;
}
.cart{
    margin-left: 67%;
    margin-top: -52px;
}
.cart a{
    display: inline-block;
    background: url(../images/bag.png) no-repeat 0px 1px;
    width: 32px;
    height: 32px;
}
.lower_hearder{
    margin-top: 5px;
}

.top_bar, hr{
    margin-left: -8px;
    margin-right: -8px;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #f0f0f0;
    margin-top: 1em;
    padding: 0;
}


/* navigation */

.grid__item{
    margin-left: 20%;
}

.grid__item a:hover{
    color: #ffcc33;
}

.sidebar-module__list li{

    list-style-type: none;
    font-size: 17px;
    padding: 6px 6px 6px 6px;
}

.sidebar-module__list .vendor, .sidebar-module .pc, .sidebar-module .laptop{
    width: 8%;
}


.sub-menu li a, .laptop-sub li a, .pc-sub li a {
    padding:10px 30px;
    display:block;
}


/* new */



.vendor, .pc, .laptop {
    position: relative;
}

.vendor .sub-menu, .pc .pc-sub, .laptop .laptop-sub{
    position: absolute;
    top: 100%;
    display: none;
    margin: 0;

    /****************
     ** NEW STYLES **
     ****************/

    list-style: none; /** Remove list bullets */
 /** Set the width to 100% of it's parent */
    padding: 0;

    transition:opacity linear 0.15s;
    box-shadow:0px 2px 3px rgba(0,0,0,0.2);
    background:#ffffff;
}


.vendor:hover .sub-menu {
    display: inline-block;
}

.laptop:hover .laptop-sub {
    display: inline-block;
}

.pc:hover .pc-sub {
    display: inline-block;
}

/** Button Styles **/

/** List Item Styles **/
.laptop > a, .pc > a, .vendor a{
    display: block;
    text-decoration: none;
    background: transparent;
    color: #333333;
}

/** List Item Hover Styles **/
.laptop li:hover {
    background: #00405d;
}

.pc li:hover {
    background: #00405d;
}

.vendor li:hover {
    background: #00405d;
}

